web/WEB-INF/wsdl/localhost_8080/Indexia/Service.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://SERVICE/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://SERVICE/" name="Service">
<types>
<xsd:schema>
<xsd:import namespace="http://SERVICE/" schemaLocation="http://localhost:8080/Indexia/Service?xsd=1"/>
</xsd:schema>
</types>
<message name="iniciarSesion">
<part name="parameters" element="tns:iniciarSesion"/>
</message>
<message name="iniciarSesionResponse">
<part name="parameters" element="tns:iniciarSesionResponse"/>
</message>
<message name="agregarUsuario">
<part name="parameters" element="tns:agregarUsuario"/>
</message>
<message name="agregarUsuarioResponse">
<part name="parameters" element="tns:agregarUsuarioResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="Service">
<operation name="iniciarSesion">
<input wsam:Action="http://SERVICE/Service/iniciarSesionRequest" message="tns:iniciarSesion"/>
<output wsam:Action="http://SERVICE/Service/iniciarSesionResponse" message="tns:iniciarSesionResponse"/>
</operation>
<operation name="agregarUsuario">
<input wsam:Action="http://SERVICE/Service/agregarUsuarioRequest" message="tns:agregarUsuario"/>
<output wsam:Action="http://SERVICE/Service/agregarUsuarioResponse" message="tns:agregarUsuarioResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://SERVICE/Service/helloRequest" message="tns:hello"/>
<output wsam:Action="http://SERVICE/Service/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="ServicePortBinding" type="tns:Service">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="iniciarSesion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Service">
<port name="ServicePort" binding="tns:ServicePortBinding">
<soap:address location="http://localhost:8080/Indexia/Service"/>
</port>
</service>
</definitions>